<table>
    <thead>
        <tr> 
            <th>{{ 'psmfHistory.date'|trans }}</th>
            <th>{{ 'psmfHistory.action'|trans }}</th>
            <th>{{ 'psmfHistory.section'|trans }}</th>
            <th>{{ 'psmfHistory.commentaire'|trans }}</th>
            <th>{{ 'psmfHistory.author'|trans }}</th>         
        </tr>
    </thead>    
    <tbody>
       {% for pSMFHistory in pSMFSectionHistories %}
            <tr>
                <td>{{ pSMFHistory.createDate|date('d-M-Y H:i') }}</td>
                <td>{{ pSMFHistory.action }}</td> 
                <td>{% if pSMFHistory.section %}{{ pSMFHistory.section }}{% else %}{{ pSMFHistory.variable.balise }}{% endif %}</td>
                <td>{{ pSMFHistory.reason }}</td>
                <td>{{ pSMFHistory.createUser }}</td>
            </tr>
       {% endfor %}
    </tbody>
</table>