<h6 class="page-title">{{ 'lovs'|trans}}</h6>

<a href="{{ path('admin_lov_list', {'entity': 'Gender' }) }}" 
class="btn btn-sm {% if entity == "Gender" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.gender'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'Scope' }) }}" 
class="btn btn-sm {% if entity == "Scope" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.scope'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'TypeVariable' }) }}" 
class="btn btn-sm {% if entity == "TypeVariable" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.typeVariable'|trans }} </a>	

<a href="{{ path('admin_lov_list', {'entity': 'EntitType' }) }}" 
class="btn btn-sm {% if entity == "EntitType" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.rattachement'|trans }} </a>	

<a href="{{ path('admin_lov_list', {'entity': 'WorkRole' }) }}" 
class="btn btn-sm {% if entity == "WorkRole" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.workRole'|trans }} </a>	

<a href="{{ path('admin_lov_list', {'entity': 'Obligation' }) }}" 
class="btn btn-sm {% if entity == "Obligation" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.obligation'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'ActiviteUM' }) }}" 
class="btn btn-sm {% if entity == "ActiviteUM" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.activiteUM'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'Pays' }) }}" 
class="btn btn-sm {% if entity == "Pays" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.pays'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'LocalQPPV' }) }}" 
class="btn btn-sm {% if entity == "LocalQPPV" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.localQPPV'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'BasePV' }) }}" 
class="btn btn-sm {% if entity == "BasePV" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.basePV'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'QualiosType' }) }}" 
class="btn btn-sm {% if entity == "QualiosType" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.qualiosType'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'QualiosStatus' }) }}" 
class="btn btn-sm {% if entity == "QualiosStatus" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.qualiosStatus'|trans }} </a>

<a href="{{ path('admin_lov_list', {'entity': 'Status' }) }}" 
class="btn btn-sm {% if entity == "Status" %}btn-purple{% else %}btn-outline-dark{% endif %}  btn-block waves-effect waves-light mt-2">{{ 'lov.status'|trans }} </a>