{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'psmf.add'|trans }}{% endblock %}

{% block body %}
<div class="content-page">
    <div class="content mb-2">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ 'psmfs'|trans }} / {{ 'psmf.add'|trans }}</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title -->   
            <div class="row">
                <div class="col-12">    
    				{{ include('PSMFManagement/PSMF/_form.html.twig') }}
    			</div>		
    		</div>
    	</div>

    </div>    			
</div>

<input type="hidden" id="admin_psmf_new_url" value="{{ path("admin_psmf_new") }}">

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    {{ encore_entry_script_tags('js/psmf') }}
{% endblock %}