{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.set_new_pass' | trans }}{% endblock %}

{% block body %}
<div class="content-page">
    <div class="content mb-2">
        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ 'title.set_new_pass'|trans }}</h4>
                    </div>
                </div>
            </div>                 
            <!-- end page title --> 

            <div class="row">
                <div class="col-12">
                    {{ include('partials/_flash_messages.html.twig') }}
                    
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}

                    {{ form_start(form) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.password_confirmation) }}

                    <div class="card-body">   
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn waves-effect waves-light btn-purple">
                               {{ 'action.save'|trans }}
                            </button>
                        </div>    
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    <!-- end container -->    
</div>    
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    {{ encore_entry_script_tags('js/validator') }}
{% endblock %}