{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'correspondances'|trans }}{% endblock %}

{% import "PSMFManagement/Correspondance/widget/correspondance.html.twig" as correspondances %}

{% block body %}
<div class="content-page">
    <div class="content mb-2">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right mt-2">
                            <a class="btn waves-effect waves-light btn-purple float-right" href="{{ path('admin_correspondance_globale3') }}" data-toggle="tooltip" data-placement="top" title="{{ 'action.edit'|trans }}" >
                                {{ 'action.edit'|trans }}
                            </a>
                        </div>                        
                        <h4 class="page-title">
                            {{ 'nav.outil'|trans }} / {{ 'correspondance.globale'|trans }}
                            &nbsp;&nbsp;
                            <a href="{{ path('admin_correspondance_globale3_history') }}" class="icon text-purple" data-toggle="tooltip" data-original-title="{{ 'action.audit' | trans }}" target="_blank"><i class="fas fa-lg fa-code-branch"></i></a>
                            <a href="/docs/{{ app.request.locale }}/site/equivalencesGlobales/index.html" class="icon text-purple" data-toggle="tooltip" data-placement="top" title="{{ 'label.user_help'|trans }}" target="_blank">
                                <i class="fas fa-lg fa-question-circle text-purple"></i>
                            </a>
                            {#&nbsp;&nbsp;<a href="{{ path('admin_audit_show_entity_history', {'entity': 'App-Entity-TemplateManagement-CorrespondanceGlobaleHistory'}) }}" class="icon text-purple" data-toggle="tooltip" data-original-title="{{ 'action.audit' | trans }}" target="_blank"><i class="fas fa-lg fa-code-branch"></i></a>#}
                            &nbsp;&nbsp;
                            {{ correspondances.correspondanceGlobale_missing_text(variables)}} 
                        </h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'variable.label'|trans }}</th>
                                <th>{{ 'variable.balise'|trans }}</th>
                                <th>{{ 'lov.typeVariable'|trans }}</th>
                                <th>{{ 'lov.scope'|trans }}</th>
                                <th>{{ 'label.obligation'|trans }}</th>
                                <th>{{ 'lov.classe'|trans }}</th>
                                <th>{{ 'correspondance.label'|trans }}</th>    
                            </tr>
                        </thead>
                        <tbody>
                        {% for variable in variables %}
                            {% if variable.isValid %}
                                <tr>
                                    <td>{{ variable.label }}</td>
                                    <td>{{ variable.balise }}</td>
                                    <td>{{ variable.type }}</td>
                                    <td>{{ variable.scope }}</td>
                                    <td>{{ variable.obligation.code=='VO'?'oui':'non' }}</td>
                                    <td>
                                        {% if variable.classes|length > 0 %}
                                            <select>
                                                {% for classe in variable.classes %}
                                                    <option>{{ classe.title }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}   
                                    </td>                                
                                    <td>
                                        {% if variable.correspondanceGlobale %}                                        
                                            {% if variable.type.code == constant('App\\Entity\\LovManagement\\TypeVariable::IMAGE')  %}
                                                {% if variable.correspondanceGlobale.valueLocal|isImage == true %}
                                                    <img src="{{ path('admin_private_upload', {'upload': variable.correspondanceGlobale.valueLocal}) }}" class="img-fluid">
                                                {% else %}
                                                    <a class="icon text-danger" href="{{ path('admin_correspondance_globale3') }}" data-toggle="tooltip" data-placement="top" title="{{ 'action.add'|trans }}">
                                                        <i class="fas fa-lg fa-plus"></i>
                                                    </a>
                                                {% endif %}    
                                            {% else %}
                                                {{ variable.correspondanceGlobale.valueLocal|raw }} 
                                            {% endif %}
                                        {% else %}
                                            <a class="icon text-danger" href="{{ path('admin_correspondance_globale3') }}" data-toggle="tooltip" data-placement="top" title="{{ 'action.add'|trans }}">
                                                <i class="fas fa-lg fa-plus"></i>
                                            </a>       
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}    
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>                
{% endblock %}
